<div class="container">
    <h2>Out latest collection</h2><br>

    <mat-form-field>
        <!-- dollar sign to submit event -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Search">
    </mat-form-field>

    <div fxLayout="row wrap" fxLayoutGap="50px grid">
        <div *ngFor="let product of filteredProducts">
            <!-- interpolation -->
            <mat-card class="product-card" appearance="outlined" (click)="addToCart(product)">
                <img mat-card-image [src]="'assets/images/' + product.image_url">
                <mat-card-content>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price | currency: 'CAD'}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
        </div>
    </div>    

</div>